<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/atomfeed</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.c3p0.max_statements">1000</property>
        <property name="hibernate.c3p0.idle_test_period">3</property>
        <property name="hibernate.default_schema">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="connection.pool_size">250000000</property>
        <property name="hibernate.c3p0.query.factory_class">
            org.hibernate.hql.spi.QueryTranslatorFactory
        </property>
        <property name="hibernate.cache.provider_class">
            org.hibernate.cache.NoCacheProvider
        </property>
        <property name="hibernate.cache.use_second_level_cache">
            false
        </property>
        <property name="hibernate.cache.use_query_cache">false</property>
    </session-factory>

</hibernate-configuration>
